<div *ngIf="building" class="row">
  <div class="col-md-12">
    <h2 *ngIf="building._id">Building Details</h2>
    <h2 *ngIf="!building._id">New Building</h2>
  </div>
</div>
<div *ngIf="building" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="building-name">Name</label>
      <input class="form-control" name="building-name" [(ngModel)]="building.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="building-country">Country</label>
      <input class="form-control" name="building-country" [(ngModel)]="building.country" placeholder="Country"/>
    </div>
    <div class="form-group">
      <label for="building-type">Type</label>
      <select class="form-control" name="building-type" [(ngModel)]="building.type" placeholder="Type">
          <option [ngValue]="TYPE_CASTLE">{{TYPE_CASTLE}}</option>
          <option [ngValue]="TYPE_FORTRESS">{{TYPE_FORTRESS}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="building-default-image">Default Image</label>
      <input class="form-control" name="building-default-image" [(ngModel)]="building.defaultImage" placeholder="Image url"/>
    </div>
    <div class="form-group">
      <label for="building-description">Description</label>
      <textarea class="form-control" name="building-description" [(ngModel)]="building.description">
      </textarea>
    </div>
    <div class="form-group">
      <label for="building-history">History</label>
      <textarea class="form-control" name="building-history" [(ngModel)]="building.history">
      </textarea>
    </div>
    <button class="btn btn-primary" *ngIf="!building._id" (click)="createBuilding(building)">Create</button>
    <button class="btn btn-info" *ngIf="building._id" (click)="updateBuilding(building)">Update</button>
    <button class="btn btn-danger" *ngIf="building._id" (click)="deleteBuilding(building._id)">Delete</button>
  </form>
</div>