<div>
    <nav class="navbar navbar-default">
        <img src='assets/fortress.png' width="40" style="float:left">
        <a class="navbar-brand" href="#">{{title}}</a>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/buildinglist']">List</a></li>
            <li><a [routerLink]="['/buildingadmin']">Building Admin</a></li>
            <li><a [routerLink]="['/useradmin']">User Admin</a></li>
            <li><a [routerLink]="['/login']">Log in</a></li>
            <li><a [routerLink]="['/signup']">Sign up</a></li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>