<div class="row">
  <div class="col-md-5">
    <h2>Buildings</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let building of buildings"
        (click)="selectBuilding(building)"
        [class.active]="building === selectedBuilding">
        {{building.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewBuilding()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <building-details
      [building]="selectedBuilding"
      [createHandler]="addBuilding"
      [updateHandler]="updateBuilding"
      [deleteHandler]="deleteBuilding"
      [updateDefaultImageHandler]="updateDefaultImage">
    </building-details>
  </div>
</div>
